/*============================
    Importing Google Fonts
==============================*/

/*Playfair Display for heading & Poppins for body */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap");

h1, h2 {
  font-family:'Playfair Display', serif; /*Google fonts*/
}

/*Styling body of the page*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*=====================
    Main Body Styling
=======================*/
body
{
    /*Sets overall background & font */
    font-family:"Poppins",sans-serif; /*Google Fonts*/
    background-color: #fff1f2; /*Sets overall background color*/
    color:#3f3f46;
    line-height:1.6;
}

/*==========================
Center main layout content
============================*/
section,
header,
nav,
footer,
main
{
    max-width: 1100px;
    margin: auto;
}

/*==============================
    Styling the header Section
================================*/
header
{
    background: linear-gradient(135deg,#fb7185,#fda4af); /*Setting a color*/
    color:white;
    text-align: center; /*center the text*/
    padding: 60px 20px;
    margin-bottom: 15px;
}

/*==============================
    Styling the Header Section
================================*/
/*Styling the main heading*/
header h1
{
    font-size:44px;
    margin-bottom:12px;
    letter-spacing:1px; /*Provide space between the letter*/
    font-weight:700;
}

/* Styling the paragraph */
header p
{
    font-size:18px;
    font-weight:300;
}

/*===============================
    Styling the navigation Bar
=================================*/
nav
{
    background: #ee8a96;
    padding: 8px 0;
}

/* Styling the nav */
nav ul
{
    display:flex; /* Using Flexbox */
    justify-content:center; /*adjust the content in center */
    list-style:none;
}

/* Styling the nav list Styling */
nav li
{
    margin: 12px 25px;
}

/* Styling Navigation link*/
nav a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition:0.3s ease; /*animation when styles change*/
}

/*Change link on hover*/
nav a:hover
{
    color:#ffb3b8;
}

/*========================
    Sections Styling
===========================*/
section
{
    padding: 30px 20px 50px 20px;
}

/*=====================
    Headings Styling
=======================*/
h2
{
    font-family:"Playfair Display",serif;
    font-size:34px;
    color:#9f1239;
    margin-bottom:20px;
    letter-spacing:1px; /*gives space between the letter*/
}

/*Adds decorative elements*/
h2::after
{
    content:"";
    display:block;
    width:60px;
    height:3px;
    background-color:#fb7185;
    margin-top:8px;
    border-radius:2px;
}

/*style all the <p> tag inside the section*/
section p
{
    margin-bottom:12px;
}

/*=====================
    List Styling
========================*/
ol
{
    margin:8px 0 8px 25px;
}

/*Styling the button*/
#benefitsList button
{
    margin-left:10px;
    padding: 2px 6px;
    font-size: 12px;
}

/*======================
    Projects Styling
========================*/
.project-container
{ 
    display:flex; /*Flexbox*/
    gap:20px; /*Gives gap between the project*/
    flex-wrap:wrap; /*Flex function*/
}

/*Styling the individual project card */
.project-card:hover
{
    background:white;
    flex: 1 1 30%; /*flex function*/
    padding:20px;
    border-radius:14px;
    box-shadow: 0 4px 20px rgba(251,113,133,0.3); 
    transition: transform 0.3s ease; /*animation when styles change*/
}

/*styling the links inside the project car*/
.project-card a:hover 
{
    text-decoration:underline;
}

/*=======================
    Form Styling
========================*/
form
{
    box-shadow: 0 4px 20px rgba(251,113,133,0.3);
    display:flex; /*Flexbox*/
    flex-direction:column;
    gap:15px; /*maintains a gap between the box*/
    margin-top:15px;
}
 
input:hover,
textarea:hover
{
    padding:12px;
    border:1px solid #fecdd3;
    border-radius:10px;
    font-family:inherit;
    font-size:14px;
    outline:none;
}

input:focus,
textarea:focus
{
    border-color:#fb7185;
}

/*Styling the text area*/
textarea
{
    min-height:120px;
    resize:vertical;
}

/*====================
    Buttons Styling
======================*/
button,
#addBtn
{
    padding:12px;
    border:none;
    border-radius:10px;
    background:linear-gradient(135deg,#fb7185,#fda4af);
    color:white;
    font-weight:600;
    cursor:pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /*animation when styles change*/
}

button:hover
{
    transform:translateY(-2px);
    box-shadow: 0 4px 10px rgba(251,113,133,0.3);
}

/*====================
    Footer Styling
======================*/
footer
{
    background:#fb7185;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}

footer a
{
    color:#ffe4e6;
    text-decoration:none;
    margin:0 10px;
    font-weight:500;
}

/*links styling*/
footer a:hover
{
    text-decoration:underline;
}

/*==============================
    Responsive for mobile view
=================================*/
/*Mobile View*/
@media(max-width:768px)
{
    nav ul{
        flex-direction:column;
        align-items:center;
    }

    .project-container{
        flex-direction: column;
    }

    .project-card{
        flex: 1 1 100%;
        min-width: 250px;
    }

    header h1{
        font-size:30px;
    }

    h2{
        font-size:24px;
    }
    
    footer a{
        display:block;
        margin: 5px 0;
    }
}